<div class="grid">
  <div class="container-fluid p-2 d-flex">
    <button class="btn btn-primary m-2" (click)="onClearSelection()">
      <i class="bi bi-x-lg pe-2"></i>Clear Selection
    </button>

    <button class="btn btn-danger m-2" (click)="onDeleteSelection()">
      <i class="bi bi-trash"></i>
      Delete Selected
    </button>

    <button
      *ngIf="undoCound > 0"
      (click)="onUndoClick()"
      class="btn btn-primary m-2"
    >
      <i class="bi bi-arrow-counterclockwise"></i>
      Undo Edit
    </button>

    <button
      *ngIf="!isDynamicData"
      class="btn btn-success m-2"
      (click)="enableDynamicData()"
    >
      Enable Dynamic Data
    </button>
    <button
      *ngIf="isDynamicData"
      class="btn btn-danger m-2"
      (click)="disableDynamicData()"
    >
      Disable Dynamic Data
    </button>
  </div>

  <div class="container-fluid myGrid">
    <ag-grid-angular
      id="myGrid"
      style="height: 100%; width: 100%"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowHeight]="80"
      [sideBar]="true"
      [headerHeight]="50"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      [minColWidth]="100"
      [undoRedoCellEditing]="true"
      [undoRedoCellEditingLimit]="20"
      [rowBuffer]="20"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
      (cellDoubleClicked)="onCellDoubleClicked($event)"
      (cellValueChanged)="onCellValueChanged($event)"
      (cellEditingStopped)="onEditTriggered()"
      (paginationChanged)="updatePagination()"
    ></ag-grid-angular>
  </div>
  <div class="container-fluid p-2 d-flex pagination text-center">
    <p>
      Page No <b>{{ page }}</b> of <b>{{ total }}</b>
    </p>
    <button class="btn btn-primary m-2" (click)="goToFirst()">
      <i class="bi bi-arrow-bar-left"></i>
    </button>
    <button class="btn btn-primary m-2" (click)="goLeft()">
      <i class="bi bi-caret-left"></i>
    </button>
    <button class="btn btn-primary m-2" (click)="goRight()">
      <i class="bi bi-caret-right"></i>
    </button>
    <button class="btn btn-primary m-2" (click)="goToLast()">
      <i class="bi bi-arrow-bar-right"></i>
    </button>
  </div>
</div>
