.green {
  background: green;
  color: black;
}

.pink {
  background-color: rgb(250, 223, 227);
}
.grid {
  height: 100%;
  padding: 10px;
}

.myGrid {
  height: 85%;
}
.pagination {
  align-items: center;
  margin: auto;
  vertical-align: middle;
}
